# Aktifkan mod_rewrite jika tersedia
<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On

    # Arahkan semua request ke direktori public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Konfigurasi CORS
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    Header set Access-Control-Allow-Headers "Content-Type, X-XSRF-TOKEN, Authorization, X-Requested-With"
</IfModule>

# Tangani preflight request OPTIONS
<IfModule mod_rewrite.c>
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ - [R=200,L]
</IfModule>
